.each-design {
  position: relative;
  width: fit-content;
  .image {
    img {
      width: 12rem;
      height: auto;
      object-fit: cover;
    }
  }

  span {
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 5px;
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 700;
    padding: 0.3rem 0.8rem;
    font-size: 12px;
  }
}
