@import "../../Sass/breackpoint.scss";

.Navbar {
  background-color: #fff;
  width: 100%;

  .nav {
    padding: 10px 0px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    img {
      width: 120px;
    }

    .search_area {
      display: flex;
      align-items: center;

      .input {
        position: relative;

        input {
          width: 250px;
          padding: 0.3rem;
          border: 1px solid lightgray;
          padding-left: 25px;
          margin-left: 2rem;
          margin-right: 2rem;

          border-radius: 10px;

          &:focus {
            outline: none;
          }
        }
        #search-icons {
          position: absolute;
          left: 35px;
          top: 4px;
          font-size: 20px;
        }
      }
    }

    .right_area {
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        margin-left: 1.5rem;
        font-size: 0.9rem;
      }

      .down-Chall {
        .Downloads-Btn {
          background-color: var(--primary-color);
          padding: 0.3rem 0.5rem;
          color: #fff;
          border-radius: 2px;
          cursor: pointer;
        }
        @include media("<=phone") {
          display: none;
        }
      }
    }
  }

  .nav-btn {
    padding-bottom: 1rem;
    span {
      margin-right: 4rem;
    }

    @include media("<=phone") {
      display: none;
    }
  }
}
